<div class="container no-padding">
  <div class="row set-columns">
    <div class="col-xs-6 col-md-4">
      <!-- <div class="col-xs-4 col-md-3" *ngFor="let img of images | filterPipe:selectedCategory:'imageCat'; let i = index"> -->
      <div class="image-div" *ngFor="let img of selectedImages; let i = index">
        <button *ngIf='isLoggedIn' class="btn btn-sm btn-success pull-right edit-button" (click)="onEditButton(i)">Edit</button>
        <div class="img-parent">

          <input class="img-button img-responsive" type="image" src={{img.imageUrl}} (click)="modal.show()">
              <!-- <img class="img img-responsive" src={{img.imageUrl}}> -->

          <app-modal #modal>
            <div class="app-modal-header">
              {{img.imageName}}
            </div>
            <div class="app-modal-body">
                <img class="img img-responsive modal-image" src={{img.imageUrl}}>
            </div>
            <div class="app-modal-footer">
              {{img.imageDesc}}
              <button type="button" class="btn btn-default" id="modal-close-button" (click)="modal.hide()">Close</button>
            </div>
          </app-modal>
        </div>



        <!-- <div>
          <img class="img img-responsive" src={{img.imageUrl}}>
        </div> -->
      </div>
    </div>
  </div>
</div>



